// ------------------- bootstrap variables -------------------
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


$blue-dark:  #1d1e26; 
$orange:  #f7642f; 
$orange-hover:  #cf4615; 

@mixin button_main {
  color: white;
  font-weight: bold;
  padding: 8px 32px;
  transition: all .25s;
  border: solid 2px $orange;
  border-radius: 500px;
  background-color: transparent;
  &:hover{
    background: $orange-hover;
    color: white;
    text-decoration: none;
  }
}

// $orange-color: #f4622e;
// $blue-dark:  #1e2d3f;
// $blue-light:  #2a3d4f;

// $background_blue_dia1: linear-gradient(135deg, $blue-dark  25%, $blue-light 75%);
// $background_blue_dia2: linear-gradient(45deg,  $blue-light 25%, $blue-dark  75%);
// $background_blue_dia3: linear-gradient(135deg, $blue-light 25%, $blue-dark  75%);
// $background_blue_dia4: linear-gradient(45deg,  $blue-dark  25%, $blue-light 75%);

// $title-color: rgb(64,82,114);
// $title-color-shadow: rgba(64,82,114, .3);
// $dark-color: #1e1e1e;
