ul.comment-list
{
    margin: 0;
    padding: 0;
    li 
    {
        list-style: none;
        .comment-body
        {
            padding: 5px;
            border: solid 1px white;
            background-color: rgba(255, 255, 255, .1);
            margin-bottom: 20px;
            .comment-meta
            {
                display: flex;
                align-items: center;
                > *
                {
                    margin-right: 15px;
                }
            }
            .comment-content
            {

            }
            .reply
            {
                display: flex;
                justify-content: flex-end;
                a 
                {
                    @include button_main;
                    margin-bottom: -10px;
                }
                
            }
        }
    }
}

.comment-form
{
    max-width: 450px;

    .comment-notes
    {

    }

    .comment-form input,
    .comment-form-comment textarea
    {
        max-width: 100%;
        border-width: 0;
    }

    .comment-form-comment,
    .comment-form-author,
    .comment-form-email,
    .comment-form-url
    {
        display: flex;
        flex-direction: column;
    }

    .comment-form-cookies-consent
    {
        display: flex;
        input 
        {
            margin: 7px 7px 0 0;
        }
    }

    .g-recaptcha
    {
        margin-bottom: 15px;
    }

    .g-submit,
    .submit
    {
        @include button_main;
    }
}

