.l-app-post-wall{
  position: relative;
}

.c-wall-navigation{
  color: #fff;
  background-color: #2e3149;  
  text-align: center;
  width: 80vw;
  margin: 0 auto;
  padding: 10px 0;
  position: absolute;
  bottom: 100%;
  left: 10vw;
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 5px 0;
    padding: 0;
    li {
      display: inline-block;
      &.active{
        background-color: $orange;
        color: $blue-dark;
      }
      span{
        display: block;
        padding: 5px 15px;
        cursor: pointer;        
      }
    }
    
  }
  ul:nth-child(1) {
    font-size: 1.1em;
    font-weight: 700;
  }
  ul:nth-child(2) {
    font-size: 1em;
    font-weight: 500;
  }
}
@media ( max-width: $breakpoint-md - 1px ) {
  .c-wall-navigation{
    font-size: 3vw;
    width: 90vw;
    left: 5vw;
    ul li span{      
      padding: 2px 10px;      
    }
  }
}
@media ( min-width: $breakpoint-md ) and (max-width: $breakpoint-lg - 1px) {
  .c-wall-navigation{
    font-size: 2vw;
  }
}
@media ( min-width: $breakpoint-lg ) and (max-width:  $breakpoint-xl - 1px) {
  .c-wall-navigation{
    font-size: 1.2vw;
  }
}
@media ( min-width: $breakpoint-xl ) {
  .c-wall-navigation{
    font-size: 1vw;
  }
}


.c-post-wall{}

.c-post-wall-content{
  display: flex;
  flex-wrap: wrap;
  padding: 15px 1vw;
  
  .c-post-wall__item{    
    margin-right: 1vw;
    margin-bottom: 15px;
    background-color: #303551;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    transition: all .4s;
    &:hover{
      box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.75);
      animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    a{
      padding: 20px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      &:hover{
        text-decoration: none;
        .c-post-wall__title{
          text-decoration: underline;
        }
      }
    }

    .c-post-wall__date{
      font-weight: 300;
    }
    .c-post-wall__title{
      font-weight: 700;
      margin-bottom: 1.5rem;
    }    
    .c-post-wall__comment{
      font-size: .8rem;
      height: .8rem;
      svg{
        height: 1.2rem;
        fill: white;
        margin-right: 5px;      
      }
    }
  }
    
}
@media ( max-width: $breakpoint-md - 1px ) {
  .c-post-wall__item { width: 100% }
  .c-post-wall__item {
    margin-right: 0;
  }
}
@media ( min-width: $breakpoint-md ) and (max-width: $breakpoint-lg - 1px) {
  .c-post-wall__item { width: calc( (100% - 1vw) / 2); }
  .c-post-wall__item:nth-child(2n){
    margin-right: 0;
  }
}
@media ( min-width: $breakpoint-lg ) and (max-width:  $breakpoint-xl - 1px) {
  .c-post-wall__item { width: calc( (100% - 2vw) / 3); }
  .c-post-wall__item:nth-child(3n){
    margin-right: 0;
  }
}
@media ( min-width: $breakpoint-xl ) {
  .c-post-wall__item { width: calc( (100% - 3vw) / 4); }
  .c-post-wall__item:nth-child(4n){
    margin-right: 0;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-6 21:21:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
