
.c-home-link
{
    display: inline-block;
    padding: 5px 15px;
    border: solid 1px #007bff;
    margin-bottom: 15px;
}

.l-single
{
    color: white;
    .container
    {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}