


// ------------------- bootstrap variables -------------------



$grid-columns:      12;
$grid-gutter-width-base: 30px;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base, // 30px
  sm: $grid-gutter-width-base, // 30px
  md: $grid-gutter-width-base, // 30px
  lg: $grid-gutter-width-base, // 30px
  xl: $grid-gutter-width-base  // 30px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1540px
);
$grid-breakpoints: (
  xs: 0,      // Extra small screen / phone
  sm: 576px,  // Small screen / phone
  md: 768px,  // Medium screen / tablet
  lg: 992px,  // Large screen / desktop
  xl: 1200px  // Extra large screen / wide desktop
);
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../scss/css/post_lister.scss';



// ------------------- bootstrap css overdrive -------------------



.badge.active{
  opacity: 0.5;
}

.badge{
  a{
    color: white;
    &:hover{
      text-decoration: none;
    }
  }
}



// ------------------- html tags -------------------



* {
  transition: background-color 0.5s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0;
  color: #333;
}




/* ------------------- Site bone ------------------- */



html{
  height: 100%;

  body{
      display: flex;
      flex-direction: column;
      height: 100%;margin: 0;
      font-family: 'Quicksand', sans-serif!important;
  }
}

header#site-header, footer#site-footer{
  flex: 0 0 auto;
}

article.container{
   flex: 1 0 auto;
}



/* ------------------- HEADER ------------------- */



#site-header {
  background-color: #f9f9f9;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ebebeb;
  
  [class*="row"]{
        align-items: center;
  }

  #cb-sitelogo{
    img{}
  }

  /* Main navigation */
  #top-menu {

    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;

      li {
        display: inline-block;        

        &:hover{
          background-color: #eee;
        }

        &.current-menu-item{
          background-color: #ccc;
        }


        a{
          color:  #444;
          padding: 10px 15px;
          display: block;

          &:hover{
            text-decoration: none;
          }
        }
      }
    }

  }

}

.cb-search form { 
  display: flex;

  label{
    margin-bottom: 0;
    .screen-reader-text{
      display: none;
    }
    .search-field{
      border-width: 0;   
    }
  }

  .search-submit{
    border-width: 0;
    width: 26px;
    cursor: pointer;
  }

}

.blog-header{
  padding: 15px 0;
  .blog-title{
    display: inline-block;
  }
  .blog-description{
    display: inline-block;
  }
}


/* ------------------- Blog posts ------------------- */

$post-margin: 15px;

.categories{
  .active a{
    color: #999;
  }
}
.tags{
  .active a{
    color: #999;
  }
}

/* post listing items */

.post-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: $post-margin;
  
  .post-li {
    outline: 1px solid #ccc;
    width: calc(100% / 4 - 15px);
    padding: 10px 20px;
    margin-right: $post-margin;
    margin-bottom: $post-margin;

    .post-title {
      margin-bottom: 5px;

      a{
        color: #444;        
        &:hover{
          text-decoration: none;
        }
      }
    }

    .post-meta {
      margin-bottom: 20px;
      color: #999;
    }

  }
}

/* post pages */

.post-page {
  .post-title {
    
  }

  .post-meta {
    margin-bottom: 20px;
    color: #999;
  }
}



/* ------------------- Footer ------------------- */



#site-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;

  p:last-child {
    margin-bottom: 0;
  }

}
