

@import '../../scss/css/variables';
@import '../../scss/css/post_lister.scss';
@import '../../scss/css/editor.scss';


// ------------------- bootstrap css overdrive -------------------



.badge.active
{
  opacity: 0.5;
}

.badge
{
  a
  {
    color: white;
    &:hover
    {
      text-decoration: none;
    }
  }
}



// ------------------- html variables -------------------



$z-header: 10;
$z-contentmain: 5;



// ------------------- html tags -------------------



* 
{
  transition: background-color 2s ease, border 500ms ease-out;
}

h1, h2, h3, h4, h5, h6 
{
  margin-bottom: .5em;
  color: #333;

  a
  {
    color: #333;
  }
}

main
{}


/* ------------------- Site bone ------------------- */



html
{
  height: 100%;

  body
  {
      font-size: 14pt;
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0;
      font-family: 'Roboto', sans-serif;
      background-color: #8193a0;
  }
}

header#site-header, footer#site-footer
{
  flex: 0 0 auto;
}

main
{
   flex: 1 0 auto;
}



/* ------------------- HEADER ------------------- */

#page-title
{
  color: #fff;
  margin: 30px 0 0 30px;
  position: absolute;
  font-family: 'Monoton', cursive;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: map-get($grid-breakpoints, sm)) {
    #page-title
    {
      font-size: 2em;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: map-get($grid-breakpoints, md) ) {
    #page-title
    {
      font-size: 3em;
    }    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: map-get($grid-breakpoints, lg) ) {
    #page-title
    {
      font-size: 4em;
    }    
}

/* post-header.php */
#post-header
{
  background-size: cover;
  overflow: hidden;
  transition: height 1s ease;
  height: 150px;

    &.openOut
    {
      #post-header-page 
      {
        opacity: 1;
      }
    }

    #post-header-page 
    {
      position: relative;
      background-color: white;
      transition: opacity 1s ease;
      opacity: .5;

      #header-post-button
      {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        cursor: pointer;
      }
    }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: map-get($grid-breakpoints, md)) {

  #post-header
  {
    &.openOut
    {
      height: auto;
    }

    #post-header-page 
    {
      margin-top: 100px;
      margin-bottom: 25px;
      padding: 25px;

      #header-post-button
      {
        border-top: 50px solid #74d478;
        border-left: 50px solid transparent;;
      }
    }

  }

}
/* Small devices (tablets, 768px and up) */
@media (min-width: map-get($grid-breakpoints, md)) {
  #post-header
  {

    &.openOut
    {
      height: 500px;
    } 
    #post-header-page 
    {
      padding: 25px 50px;
      -webkit-transform: rotate(17deg);
      transform: rotate(-17deg);
      top: 200px;
      position: relative;
      width: 1266px;
      margin: 15px auto;
      height: 320px;
      overflow: hidden;
      transition: transform 1s ease, top 500ms ease-out;
      
      &.rollOut
      {
        -webkit-transform: rotate(0deg)!important;
        transform: rotate(0deg)!important;
        top: 120px!important;
      }

      #post-head-content
      {}

      #header-post-button
      {
        border-top: 100px solid #74d478;
        border-left: 100px solid transparent;;
      }

    }
  }
}


/* Main navigation */

/* Medium devices (desktops, 992px and up) */
@media (min-width: map-get($grid-breakpoints, md) ) {

  #top-menu ul
  {
     display: flex;
  }

}

#top-menu 
{
  text-align: center;
  background-color: white;

  #top-menu-content
  {
    margin: 0 auto;
    display: inline-block;  

    ul
    {
      margin: 0;
      padding: 0;
      list-style: none;     

      li 
      {
        display: inline-block;        
        margin-right: 5px;
        padding-top: 7px;
        border-bottom: white solid 1px; 

        &:hover
        {
          //background-color: #eee;
          border-bottom: #74d478 solid 7px; 
        }

        &.current-menu-item
        {
          //background-color: #ccc;
          border-bottom: #74d478 solid 7px; 
        }


        a
        {
          color:  #444;
          padding: 11px;            
          display: block;

          &:hover
          {
            text-decoration: none;
          }
        }
        
      }

      li:last-child
      {
          margin-right: 0;
      }
    }
  }
}

/* ------------------- Blog posts ------------------- */

main
{
  z-index: $z-contentmain;

  .tag-nav
  {
    background-color: #35414a;

    #tag-content
    {
      text-align: center;

      nav
      {
        display: inline-block;

        ul
        {
          margin: 0 auto;
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;

          li
          {

            a
            {
              color: white;
              padding: 11px;
              display: block;
              text-decoration: none;
            }

            &.active
            {
              background-color: #556a6d;
            }

            &.active:hover
            {
              background-color: #45545f;
            }

            &:hover
            {
              background-color: #45545f;
            }

          }          
        }
      }  
    }
  }

  section.upper
  {
    position: relative;
    background-color: #202930;
  }

  section.botter
  {
    margin-top: 30px;
    padding-bottom: 15px;
  }

  /* sidebar */

  .flex-box
  {
    display: flex;
  }
  
  .main-sidebar
  {
      width: 100%;
      padding: 50px;
      margin-bottom: 15px;
      background-color: white;
      align-items: stretch;
  }

  /* post pages */

  .post-page 
  {
    background-color: white;
    padding: 100px;
    font-size: 1.5rem;

    #home-link
    {
      position: relative;
      top: -15px;
      font-size: .7em;
    }

    .post-title 
    {
      font-size: 4rem;
    }

    .img-look-thum{
        border: solid 1px #ccc;
        padding: 15px;

        img{
          width: 100%;
          height: auto;
        }
    }

    @media (min-width: map-get($grid-breakpoints, lg) ) {
      .img-look-thum{          
          float: right;
          width: 45%;
          overflow:  hidden;
          margin-left: 45px;
          margin-bottom: 15px;
      }
    }

    @media (max-width: map-get($grid-breakpoints, lg) ) {
      .img-look-thum{
        float: none;
        margin-bottom: 15px;

        
      }
    }

    > p
    {
      margin-bottom: 4rem;
    }

    .post-meta 
    {
      margin-bottom: 20px;
      color: #999;
      font-size: 1.5rem;
    }

  }

}



/* ------------------- Plugins ------------------- */



.syntaxhighlighter{}



/* ------------------- Footer ------------------- */



footer#site-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;

  p:last-child {
    margin-bottom: 0;
  }

}
