@import '../../scss/css/variables';
@import '../../scss/css/post_lister.scss';
@import '../../scss/css/editor.scss';



/* *********************************************** */
// ------------------- bootstrap css overdrive -------------------
/* *********************************************** */



.badge.active
{
  opacity: 0.5;
}

.badge
{
  a
  {
    color: white;
    &:hover
    {
      text-decoration: none;
    }
  }
}



/* *********************************************** */
// ------------------- html variables -------------------
/* *********************************************** */



$z-header: 10;
$z-contentmain: 5;
$page-padding: 100px;




/* *********************************************** */
// ------------------- html tags -------------------
/* *********************************************** */




* 
{
  transition: background-color 2s ease, border 500ms ease-out;
}

h1, h2, h3, h4, h5, h6 
{
  margin-bottom: .5em;
  color: #333;

  a
  {
    color: #333;
  }
}

main
{}



/* *********************************************** */
/* ------------------- Site bone ------------------- */
/* *********************************************** */



html
{
  height: 100%;

  body
  {
      font-size: 14pt;
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0;
      font-family: 'Roboto', sans-serif;
      background-size: cover;
      background-attachment: fixed;
  }
}

header#site-header, footer#site-footer
{
  flex: 0 0 auto;
}

main
{
  background-color: #8193a0;
  flex: 1 0 auto;
}



/* *********************************************** */
/* ------------------- HEADER ------------------- */
/* *********************************************** */



/* post-header.php */
header#site-header
{
  position: relative;
  height: 250px;
  
  #page-title
  {
    color: #fff;
    margin: 30px 0 0 30px;
    position: absolute;
    font-family: 'Monoton', cursive;
  }


  ul#socialmedia-links{
    position: absolute;
    right: 15px;
    bottom: 0;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    li{
      padding: 5px;
    }
    a{
      padding: 5px;
      display: block;
    }
    a:hover svg{
      opacity: 1;
      transform: scale(1.5);
    }
    svg{
      fill: white;
      width: 25px;
      height: 25px;
      opacity: .5;      
      transition: all 500ms; 
    }
  }
}



/* Small devices (tablets, 768px and up) */
@media (min-width: map-get($grid-breakpoints, sm)) {
    #page-title
    {
      font-size: 2em;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: map-get($grid-breakpoints, md) ) {
    #page-title
    {
      font-size: 3em;
    }    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: map-get($grid-breakpoints, lg) ) {
    #page-title
    {
      font-size: 4em;
    }    
}



/* Small devices (tablets, 768px and up) */
@media (max-width: map-get($grid-breakpoints, md)) {}



/* *********************************************** */
/* Main navigation */
/* *********************************************** */



/* Medium devices (desktops, 992px and up) */
@media (min-width: map-get($grid-breakpoints, md) ) {

  #top-menu ul
  {
     display: flex;
  }

}

#top-menu 
{
  text-align: center;
  background-color: white;

  #top-menu-content
  {
    margin: 0 auto;
    display: inline-block;  

    ul
    {
      margin: 0;
      padding: 0;
      list-style: none;     

      li 
      {
        display: inline-block;        
        margin-right: 5px;
        padding-top: 7px;
        border-bottom: white solid 1px; 

        &:hover
        {
          //background-color: #eee;
          border-bottom: #74d478 solid 7px; 
        }

        &.current-menu-item
        {
          //background-color: #ccc;
          border-bottom: #74d478 solid 7px; 
        }


        a
        {
          color:  #444;
          padding: 11px;            
          display: block;

          &:hover
          {
            text-decoration: none;
          }
        }
        
      }

      li:last-child
      {
          margin-right: 0;
      }
    }
  }
}

#tag-menu{
  text-align: center;
  background-color: #35414a;
}


nav.tag-nav
{
  display: inline-block;
  color: white;

  ul
  {
    margin: 0 auto;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li
    {
      a
      {
        color: white;
        padding: 11px;
        display: block;
        text-decoration: none;
        cursor: pointer;
      }

      &.active
      {
        background-color: #556a6d;
      }

      &.active:hover
      {
        background-color: #45545f;
      }

      &:hover
      {
        background-color: #45545f;
      }

    }          
  }
}  




/* *********************************************** */
/* ------------------- Blog posts ------------------- */
/* *********************************************** */



main
{
  z-index: $z-contentmain;
  overflow: hidden;

  section.botter
  {
    margin-top: 30px;
    padding-bottom: 15px;
  }

  /* sidebar */

  .flex-box
  {
    display: flex;
  }
  
  .main-sidebar
  {
      width: 100%;
      padding: 50px;
      margin-bottom: 15px;
      background-color: white;
      align-items: stretch;
  }



/* *********************************************** */
// PAGENATION
/* *********************************************** */



.prev-next-posts{
  display: flex;
  justify-content: space-between;

  .prev-posts-link, .next-posts-link {
    
    a{
      color: #35414a;
    }
    
  }

}
            


/* *********************************************** */
/* post pages */
/* *********************************************** */



  .post-page 
  {
    background-color: white;
    padding: $page-padding;
    font-size: 1.5rem;

    #home-link
    {
      position: relative;
      top: -15px;
      font-size: .7em;
    }

    .post-title 
    {
      font-size: 4rem;
    }

    .img-look-thum{
        border: solid 1px #ccc;
        padding: 15px;

        img{
          width: 100%;
          height: auto;
        }
    }

    @media (min-width: map-get($grid-breakpoints, lg) ) {
      .img-look-thum{          
          float: right;
          width: 45%;
          overflow:  hidden;
          margin-left: 45px;
          margin-bottom: 15px;
      }
    }

    @media (max-width: map-get($grid-breakpoints, lg) ) {
      .img-look-thum{
        float: none;
        margin-bottom: 15px;        
      }
    }

    > p
    {
      margin-bottom: 4rem;
    }

    .post-meta 
    {
      margin-bottom: 20px;
      color: #999;
      font-size: 1.5rem;
    }

  }

}


/* *********************************************** */
/* ------------------- Comment ------------------- */
/* *********************************************** */



#comments{
  margin-top: 45px;
  padding: $page-padding;
  background-color: white;
  
  ul.comment-list{
    padding: 0;
    margin: 45px 0;

    li.comment{
      list-style: none;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    
  }

  [for='comment'] {
    display: none;
  }

  textarea#comment{
    width: 100%;
  }



  .g-submit{
    margin-top: 15px;
  }
}


/* *********************************************** */
/* ------------------- Plugins ------------------- */
/* *********************************************** */


 [id*="highlighter"].syntaxhighlighter{
  font-size: .8em!important;
}



/* *********************************************** */
/* ------------------- Footer ------------------- */
/* *********************************************** */



footer#site-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;

  p:last-child {
    margin-bottom: 0;
  }

}
