$z-bottomlink: 10;
$z-toplink: 20;

$item-margin: 15px;

.post-larges{
    .pl-li {
        &:nth-child(1){
            width: calc(50% - #{$item-margin}); 
        }
        &:nth-child(6){
            width: calc(50% - #{$item-margin}); 
        }
    }
} 

.post-cards {
    display: flex;
    flex-wrap: wrap;

    .pl-li {
        position: relative;    
        width: calc(25% - #{$item-margin}); 
        margin-right: $item-margin;
        margin-bottom: $item-margin;
        background-size: cover;
        background-color: white;

        > a {
            position: absolute;
            z-index: $z-bottomlink;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;            
        }
        
        .pl-cats{
            position: absolute;
            background-color: #444;            
            padding: 5px 15px;
            white-space: nowrap;
            display: inline-block;
            a{
                position: relative;
                z-index: $z-toplink;
                color: white;
                font-size: .8em;
                font-weight: bold;

                &:hover{
                    text-decoration: none;
                }

            }
        } 

        .pl-cont{
            display: block;
            padding: 80px 50px 80px 50px;
            min-height: 320px;

            h3{}
            .pl-tags{
                display: block;
                height: 1em;
            }
        }
        
    
        
    }
}



.post-lister{
    display: flex;
    flex-direction: column;

    .post-li{
        display: flex;        
        background-color: white;
        margin-bottom: $item-margin;        
        
        .post-content{
            flex-grow: 2;
            padding: 50px;
            min-height: 150px;
        }

        .post-thumbnail{
            flex-grow: 0;
        }
    }
}

