
// ------------------- bootstrap variables -------------------


$grid-columns:      12;
$grid-gutter-width-base: 30px;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base, // 30px
  sm: $grid-gutter-width-base, // 30px
  md: $grid-gutter-width-base, // 30px
  lg: $grid-gutter-width-base, // 30px
  xl: $grid-gutter-width-base  // 30px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1540px
);
$grid-breakpoints: (
  xs: 0,      // Extra small screen / phone
  sm: 576px,  // Small screen / phone
  md: 768px,  // Medium screen / tablet
  lg: 992px,  // Large screen / desktop
  xl: 1200px  // Extra large screen / wide desktop
);

$orange-color: #f4622e;
$blue-dark:  #1e2d3f;
$blue-light:  #2b3e50;

$background_blue_dia1: linear-gradient(135deg, rgba(30,45,63,1) 0%, rgba(43,62,80,1) 100%);
$background_blue_dia2: linear-gradient(45deg, rgba(43,62,80,1) 0%, rgba(30,45,63,1) 100%);
$background_blue_dia3: linear-gradient(135deg, rgba(43,62,80,1) 0%, rgba(30,45,63,1) 100%);
$background_blue_dia4: linear-gradient(45deg, rgba(30,45,63,1) 0%, rgba(43,62,80,1) 100%);

// $title-color: rgb(64,82,114);
// $title-color-shadow: rgba(64,82,114, .3);
// $dark-color: #1e1e1e;
