
// ------------------- bootstrap variables -------------------


$grid-columns:      12;
$grid-gutter-width-base: 30px;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base, 
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1540px
);
$grid-breakpoints: (
  xs: 0,      // Extra small screen / phone
  sm: 576px,  // Small screen / phone
  md: 768px,  // Medium screen / tablet
  lg: 992px,  // Large screen / desktop
  xl: 1200px  // Extra large screen / wide desktop
);

$blue-dark:  #1d1e26; 

// $orange-color: #f4622e;
// $blue-dark:  #1e2d3f;
// $blue-light:  #2a3d4f;

// $background_blue_dia1: linear-gradient(135deg, $blue-dark  25%, $blue-light 75%);
// $background_blue_dia2: linear-gradient(45deg,  $blue-light 25%, $blue-dark  75%);
// $background_blue_dia3: linear-gradient(135deg, $blue-light 25%, $blue-dark  75%);
// $background_blue_dia4: linear-gradient(45deg,  $blue-dark  25%, $blue-light 75%);

// $title-color: rgb(64,82,114);
// $title-color-shadow: rgba(64,82,114, .3);
// $dark-color: #1e1e1e;
